@charset "utf-8";
/* Info PJ 서브페이지용 css - sub.css */

/* 2-1. 서브타이틀 */
.sub-title{ 
    /* 글자설정 ff  fs30  fac*/
    font-family: "Jua" serif;
    font-size: 30px;
    text-align: center;
    /* 배경설정
    -> 한번에 주는 방법 : 
    background: 색 이 반 고 위/크
    배경색상 이미지 반복 고정 위치/크기  */
    background:url(../images/it과학.jpg) no-repeat center/cover;
    /* 박스설정 */
    padding: 50px;
}
/* 2-2. 언론사로고 */
.press-logo img{
    height: 32px;
}
/* 2-3. 기사제목 */
.article-title{
    font-size: 33px;
}
/* 2-4. 기사사진 */
/* figure요소의 기본마진 없앰 */
.article-picture{
    margin: 0;
    text-align: center;
    /* 하단마진 */
    margin-bottom: 50px;
}
.article-picture img{
    width: 100%;;
}
/* 2-5. 기사내용 */

/* 2-6. 기자정보 */

/* 2-7. 기사원문 */